* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  width: 100%;
  background-color: #111;
}

#string {
  height: 200px;
  width: 100%;
  /* background-color: red; */
}
