* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  width: 100%;
  background-color: #111;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
}

#cursor {
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: fixed;
}