* {box-sizing: border-box;margin: 0;padding: 0;}
body, html {height: 100%;width: 100%;background-color: #111;font-family: 'Gilroy';}

@font-face {
  font-family: 'newMachina';
  src: url('NeueMachina-Regular.otf');
}


#page1, #page2, #page3 {
  height: 100vh;
  width: 100%;
}

#move {
  background-color: #D8FF04;
  padding: 2vw 0;
  display: flex;
  overflow: hidden;
  .marque {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
  }
  h1 {
    font-size: 4vw;
    text-transform: uppercase;
    font-family: 'newMachina';
  }
  img {
    height: 4vw;
  }
}
