* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}

#page1, #page2, #page3 {
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#page1 {
  background-color: lightblue;
}

#page2 {
  background-color: #75cae6;
  h1 {
    font-size: 40vw;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }
}

#page3 {
  background-color: rgb(52, 132, 158);
}

#box {
  background-color: crimson;
  height: 400px;
  width: 400px;
}